* {
    font-family:
        Iosevka Custom,
        Symbols Nerd Font;
    font-size: 16px;
}

.modules-left {
    margin: 5px 5px;
}

.modules-right {
    margin: 5px 5px;
}

.modules-center {
    margin: 5px 5px;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-notification,
#memory,
#mpris,
#tray,
#window,
#workspaces,
#wireplumber {
    background-color: @surface0;
    margin: 0 5px;
    padding: 0 1rem;
    border-radius: 1rem;
}

#workspaces button {
    color: @lavender;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

window#waybar.empty #window {
    background-color: transparent;
}

#mpris.stopped {
    background-color: transparent;
}

#clock {
    color: @blue;
}

#cpu {
    color: @red;
}

#memory {
    color: @green;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#wireplumber {
    color: @maroon;
}

#mpris {
    color: @mauve;
}
