* {
    font-family:
        Iosevka Custom,
        Symbols Nerd Font;
    font-size: 16px;
}

.modules-center,
.modules-left,
.modules-right {
    margin: 5px 5px 0;
}

#waybar {
    background: transparent;
    color: @text;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-notification,
#memory,
#mpris,
#temperature,
#tray,
#window,
#workspaces,
#wireplumber {
    background-color: @surface0;
    margin: 0 5px;
    padding: 0 1rem;
    border-radius: 1rem;
}

/* left */
#cpu,
#wireplumber {
    margin: 0 0 0 5px;
    padding: 0 0.5rem 0 1rem;
    border-radius: 1rem 0 0 1rem;
}

/* middle */
#memory,
#temperature {
    margin: 0;
    padding: 0 0.5rem;
    border-radius: 0;
}

/* right */
#battery,
#backlight {
    margin: 0 5px 0 0;
    padding: 0 1rem 0 0.5rem;
    border-radius: 0 1rem 1rem 0;
}

#workspaces button {
    color: @lavender;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

window#waybar.empty #window {
    background-color: transparent;
}

#mpris.stopped {
    background-color: transparent;
}

#clock {
    color: @blue;
}

#cpu.low,
#memory.low,
#temperature {
    color: @green;
}

#battery.warning:not(.charging),
#cpu.medium,
#memory.medium {
    color: @yellow;
}

#cpu.high,
#memory.high {
    color: @peach;
}

#battery.critical:not(.charging),
#cpu.critical,
#memory.critical,
#temperature.critical {
    color: @red;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#backlight {
    color: @yellow;
}

#wireplumber {
    color: @maroon;
}

#mpris {
    color: @mauve;
}
