@theme "theme"

configuration {
  modes: "drun,run,recursivebrowser,window";
  show-icons: true;
  display-drun: "󰕰";
  display-run: "";
  display-recursivebrowser: "";
  display-window: "";

  drun-display-format: "{name}";
  window-format: "{w}{c}";

  run-command: "uwsm-app -- {cmd}";
  recursivebrowser {
    command: "uwsm-app -- xdg-open";
  }
}
